@font-face {
  src: url("./assets/fonts/YandexSansDisplay-Regular.woff") format("woff");
  font-family: "YandexSans";
  font-weight: 400;
}

@font-face {
  src: url("./assets/fonts/HighVoltage.woff") format("woff");
  font-family: "HighVoltage";
  font-weight: 400;
}

@font-face {
  src: url("./assets/fonts/YandexSansText-Medium.woff") format("woff");
  font-family: "YandexSans";
  font-weight: 500;
}


@font-face {
  src: url("./assets/fonts/YandexSansDisplay-Bold.woff") format("woff");
  font-family: "YandexSans";
  font-weight: 700;
}
