$desktop-reference-size: 1920;
$mobile-reference-size: 320;
$desktop-reference-px-size: $desktop-reference-size * 1px;
$mobile-reference-px-size: $mobile-reference-size * 1px;
$mobile-size-trigger: 768px;

$html-font-size: 1px;
